[ req ]
default_bits       = 2048
distinguished_name = req_distinguished_name
x509_extensions    = v3_req
prompt             = no

[ req_distinguished_name ]
C                  = CA
ST                 = Beijing
L                  = San Francisco
O                  = USTB
OU                 = USTB
CN                 = kube.guard.com

[ v3_req ]
keyUsage           = keyEncipherment, dataEncipherment
extendedKeyUsage   = serverAuth
subjectAltName     = @alt_names

[ alt_names ]
IP.1               = 192.168.137.200
